html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;}

section { min-height: 100%;}

a { text-decoration: none;}

li { list-style-type: none;}

h1, h2, h3, a { font-family: 'Roboto', sans-serif; 
               font-weight: 500; 
               color: #494949; text-transform: uppercase;}


h1 { color: #5d7177; }

h3 {font-size: 40px; padding-top: 8%; margin-bottom: 5px;}

h4, p {font-family: 'Roboto Slab', sans-serif;
    color: #494949; }

hr { width: 50px;height: 3px; background: #494949; 
    border: 0; margin: 0 auto 40px auto; }

    /******* HEADER***************/

header {
 width: 100%;
 height: 65px; 
 position: fixed; 
 top: 0%; left: 0%;
 background: white; 
 box-shadow: 20px 1px 3px rgba(0, 0,0, 0.2);
 z-index: 1;
 }

 /************logo******/

.logo {width: 200px;
    float: left; margin: 0 0 0 37px;
    font-style: oblique;
    font-size: 100%
}

.logo h2 {margin-top: 5%; margin-bottom: 0;
font-style: italic; color: #004080;
font-weight: 1000px;
font-size: 25px; }

.logo h5 { margin-top: 2%; font-size: 14px;}

.logo:hover { opacity: 0.5;}

.logo {transition: all 300ms;}

/***********NAV-BAR***********/

header nav {
    float: right;
    margin: 10px 50px 0 0;
}

header nav ul li {
    float: left;
    text-align: right;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
}
 nav ul li a:hover {
     color: midnightblue;
     opacity: 0.6;
     transition: all 300ms;
     padding: 3px;
 }

 /*************HOME**************/

 #home {
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     background: url(images/background.jpg) no-repeat;
     -webkit-background-size: cover;
     opacity: 0.75;
     z-index: 0;
 }
 #home h1 {
     font-family: 'Quicksand', sans-serif;
     margin: 68px auto 0 auto;
     font-size: 110px;
     color: #00004f;
     z-index: 1;
     opacity: 1;
     font-weight: bolder;
     text-shadow: black;
     padding-top: 3%;
     text-decoration-style: solid;
     text-emphasis-color: black;
     
 }

/***************ABOUT************/


 #about img {width: auto;
border-radius: 15%;
}

#about h4 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: wavy;
    text-underline-position: below;
    margin: 30px;
}

#about p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  margin: auto 35px;
    text-align: center;
}

#about img:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
}

/******************GALLERY*******************/

#gallery {
    background-color: #f0f0f0;

}

#pictures {
    width: 900px;
    margin: 0 auto 0 auto;
}

#pictures ul {padding: 0;
}

#pictures ul li { width: 33.3%;
    float: left;
    margin-bottom: 15px;}

#pictures img {
    width: 280px;
    height: 170px;
}

/****************CONTACT*************/

form { margin-top: 20px;}

form input, textarea {
    font-family: 'Roboto slab', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid;
    border-color: #494949;
    width: 550px;
    padding-left: 10px;

}

form textarea {
    height: 200px;
    resize: none;
}

.submit {
    background-color: #9ec5d8;
    width: 570px;
    height; 30px;
margin-bottom: 18px;
}

.submit:hover {
    background-color: #004386;
    color: aliceblue;
}

#contact img {
    width: 50px;
    height: 60px;
    margin-top: 0;
    border-radius: 15%;
}

#contact img:hover {
    padding: 2px;
    transition: all 150ms;} 

#contact a h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 90%;
}

.backtotop a {
    margin-bottom: 30px;
    color: #0000ff;
}

.backtotop a:hover {
    color: #004386;
}